


.heading-2{
    font-weight: 500;
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
}
.container1-products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    grid-auto-rows: min-content;
    justify-items: center; 
    align-items: start;  
    padding-bottom: 3rem;  
}
.j540{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}